.header {
    background: #1C2B35;
    color: #fff;
    padding: 20px 0;
}

.header h1 {
    cursor: pointer;    
}

.header nav a {
    margin-left: 30px;
    transition: .4s;

}

.header nav a:hover {
    color: #ff4500;
}
