.product .banner-img {
    width: 760px;
    height: 460px;
    border-radius: 10px;

}

.product {
    margin-bottom: 30px;    

}

.author-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}